/* common css  */

*{
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
.container {
    max-width:1280px ;
    margin: auto;
}

.panda-btn {
    border-radius: 6px;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);;
    padding: 14px 20px;
    border: none;
    color: white;
    font-weight: bold;
}

.common-section-title {
    font-weight: 600px;
    font-size: 36px;
    margin-top: 70px;
}
/* nav style   */
nav {
    display: flex;
    gap: 56px;
    padding: 0px; 
}

.search-parent {
 position: relative;
 color: #BABABA;
}

.search-parent input{
    width: 500px;
    border-radius: 66px;
    padding: 15px 30px;
    background-color: rgb(241, 241, 241);
    border: none;
}
.search-parent i {
    position: absolute;
    top: 18px;
    right: 20px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-items li a {
    text-decoration: none;
    color: #707070;
    font-weight: 600;
}
    
/* Banner  */

.banner {
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding:30px ;
    border-radius:15px ;
}
.banner h2 {
color: rgb(31, 31, 31);
font-size: 52px;
font-weight: bold;
}
.banner p {
    color: #4E4E4E;
}
.banner-price {
    color: #FF136F;
    font-weight: bold;
    font-size: 50px;
    

}
.banner img {
    width: 400px;
    height: 380px;
}

/* category card  */ 


.categories-card-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    
}

.categories {
    margin-top: 60px;
}
.category-card {
    width: 360px;
    height: 120px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.category-card h3 {
    color: #FFFFFF;
}
 
.category-card img {
    width: 95px;
    height: 95px;
}
.watch {
   background:linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);;
}


.bag {
   background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);;
}

.shoes {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);;
}

/* shoes container  */
.shoes-section {
    background-color: #F4F4F4;
}
.shoes-card-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.shoe-card {
    width: 360px;
    height: 500px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 15px;
    text-align: center;
}
.shoe-card img {
    width: 336px;
    height: 202px;
}

.card-price {
    font-size: 23px;
    font-weight: 700px;
}

.shoe-card .panda-btn {
    background: #000000;
    padding: 14px 25px;
}