*{
 box-sizing: border-box;
}
.container {
    max-width:1280px ;
    margin: auto;
}
nav {
    display: flex;
    gap: 56px;
    padding: 0px; 
}

.search-parent {
 position: relative;
 color: #BABABA;
}

.search-parent input{
    width: 500px;
    border-radius: 66px;
    padding: 15px 30px;
    background-color: rgb(241, 241, 241);
    border: none;
}
.search-parent i {
    position: absolute;
    top: 18px;
    right: 20px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-items li a {
    text-decoration: none;
    color: #707070;
    font-weight: 600;
    font-size: 16px;
}